@model Medinova.Models.About
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="https://t4.ftcdn.net/jpg/05/53/23/15/360_F_553231584_LCt7WYuORVw2QQ6BBRNj5w5pTBWCFKO5.jpg"
                         style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                    <h1 class="display-4">@Model.Title</h1>
                </div>
                <p>
                    @Model.Description
                </p>
                @Html.Action("DefaultAboutItem")
            </div>
        </div>
    </div>
</div>