@model List<Medinova.Models.AboutItem>

@{
    ViewBag.Title = "AboutItem Yönetimi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">About Item Listesi</h4>
                    <a href="/Admin/AdminAboutItem/CreateAboutItem" class="btn btn-primary float-right">
                        <i class="fa fa-plus"></i> Yeni Ekle
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Icon</th>
                                    <th>Ýsim</th>
                                    <th>Ýþlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.AboutItemId</td>
                                            <td><i class="@item.Icon fa-2x text-primary"></i></td>
                                            <td>@item.Name</td>
                                            <td>
                                                <a href="/Admin/AdminAboutItem/UpdateAboutItem/@item.AboutItemId" class="btn btn-warning btn-sm">
                                                    <i class="fa fa-edit"></i> Düzenle
                                                </a>
                                                <a href="/Admin/AdminAboutItem/DeleteAboutItem/@item.AboutItemId" class="btn btn-danger btn-sm" onclick="return confirm('Silmek istediðinize emin misiniz?')">
                                                    <i class="fa fa-trash"></i> Sil
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="text-center">Henüz kayýt bulunmamaktadýr.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
