@model Medinova.Models.AboutItem

@{
    ViewBag.Title = "AboutItem Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">About Item Güncelle</h4>
                    <a href="/Admin/AdminAboutItem/Index" class="btn btn-secondary float-right">
                        <i class="fa fa-arrow-left"></i> Geri Dön
                    </a>
                </div>
                <div class="card-body">
                    <form action="/Admin/AdminAboutItem/UpdateAboutItem" method="post">
                        <input type="hidden" name="AboutItemId" value="@Model.AboutItemId" />
                        <div class="form-group">
                            <label>Ýsim</label>
                            <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Ýsim giriniz (örn: Certified Doctors)" required />
                        </div>
                        <div class="form-group">
                            <label>Icon (FontAwesome Class)</label>
                            <input type="text" name="Icon" value="@Model.Icon" class="form-control" placeholder="Icon class giriniz (örn: fa fa-user-md)" required />
                            <small class="form-text text-muted">FontAwesome icon sýnýfý giriniz. Örnek: fa fa-user-md, fa fa-hospital, fa fa-ambulance</small>
                        </div>
                        <button type="submit" class="btn btn-warning">
                            <i class="fa fa-save"></i> Güncelle
                        </button>
                        <a href="/Admin/AdminAboutItem/Index" class="btn btn-secondary">
                            <i class="fa fa-times"></i> Ýptal
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
