@model Medinova.DTOs.LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <div class="container">
            <h4>Login Page</h4>
            <form method="post">
                <label>User Name</label>
                <br />
                @Html.TextBoxFor(x=>x.UserName, new {@class="form-control"})
                <br />
                <label>Password</label>
                <input type="password" name="Password" class="form-control"/>
                <br />
                <span class="text-danger">@Html.ValidationSummary()</span>
                <button class="btn btn-primary">Login</button>
            </form>
        </div>


    </div>
</body>
</html>
