@model List<Medinova.Models.Package>

@{
    ViewBag.Title = "Package Yönetimi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Paket Listesi</h4>
                    <a href="/Admin/AdminPackage/CreatePackage" class="btn btn-primary float-right">
                        <i class="fa fa-plus"></i> Yeni Ekle
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Paket Adý</th>
                                    <th>Fiyat</th>
                                    <th>Açýklama</th>
                                    <th>Ýþlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.PackageId</td>
                                            <td>@item.PackageStyle</td>
                                            <td>$@item.Price</td>
                                            <td>@(item.Description != null && item.Description.Length > 50 ? item.Description.Substring(0, 50) + "..." : item.Description)</td>
                                            <td>
                                                <a href="/Admin/AdminPackage/UpdatePackage/@item.PackageId" class="btn btn-warning btn-sm">
                                                    <i class="fa fa-edit"></i> Düzenle
                                                </a>
                                                <a href="/Admin/AdminPackage/DeletePackage/@item.PackageId" class="btn btn-danger btn-sm" onclick="return confirm('Silmek istediðinize emin misiniz?')">
                                                    <i class="fa fa-trash"></i> Sil
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">Henüz kayýt bulunmamaktadýr.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
